
*{  
    padding: 0;
    margin: 0;
    
}
:root{
    --back-bg-green:rgb(52, 128, 100);
    --font-pasword:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --font-label:Arial, Helvetica, sans-serif;
}
body{
    background-image: url(img/fondo.jpg);
    background-repeat: no-repeat;

    background-size: cover;

    height: 100vw;
    
}
#inputPasword{
    width: 90%;
    font-size: 1.2rem;

    
}
input::placeholder{
    color: rgb(42, 66, 48); 
}
#login{
    display: flex;
    width: 30%;
    height: 35%;
    /*height: 40%; -> min*/
    margin: 6% auto auto auto ;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
    border: 5px var(--back-bg-green) solid;
    border-radius: 10px;
    
}

#contraseña{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    
    /*height: 50%; -> min*/
}   

#contraseñaLabel{
 color: var(--back-bg-green);
   text-shadow:10px 1px 10px black;
}
.labelPasword{
    display: flex;
    border: 3.5px var(--back-bg-green) solid;;
    justify-content: center;
    align-content: center;

    
}
#img-Pasword{
    padding: 0;
    margin: 0;
    border: none;
    width: 10%;
    height: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
    background:transparent ;

}
.dad-img-Pasword>img{
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.contraseña{
    padding: 25px 0;
    font-family: var(--font-label);
    border: 3.5px var(--back-bg-green) solid;;
    background-color: transparent;
    border-radius: 10px;

    width: 100%;
  
}
.contraseña:focus{
    border: none;
    outline: none;
}
.contraseña:first-child{
   
    text-align: center;

    font-weight: 700 ;
  
    border: none;
    font-size: 4.5rem;
    width: 90%;
    border-radius: 0.1;
}
button{

    font-weight: 700;
    font-size: 2.3rem;
    margin-top: 5%;
    width: 50%;
}
.oculto{
    display: none;
}
button>span{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}